@use '@angular/material' as mat;
@use '../theme-colors' as theme;

:root {
  --colore-primario: #1B1F6B;
  --colore-primario-chiaro: #3B5BFF;
  --colore-accento: #4FD1F5;
}

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      theme-type: light,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}